.commentForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
    position: absolute;
    width: 46rem;
    height: 3.375rem;
    left: calc(50% - 736px/2);
    top: 10.8125rem;
}

.commentForm textarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 39.875rem;
    height: 3.375rem;    
    background: var(--gray-600);
    border: 0.0625rem solid #0D0D0D;
    border-radius: 8px;

    flex : none;
    order: 0;
    flex-grow: 1;
}