.commentForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
    position: absolute;
    width: 46rem;
    height: 3.375rem;
    left: calc(50% - 46rem/2);
    top: 10.8125rem;
}

.commentForm textarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 39.875rem;
    height: 3.375rem;    
    background: var(--gray-600);
    border: 0.0625rem solid #0D0D0D;
    border-radius: 8px;
    color: var(--gray-650);

    resize: none;
    
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;

    line-height: 1.2rem;

    flex : none;
    order: 0;
    flex-grow: 1;
}

.commentForm button {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 5.625rem;
    height: 3.25rem;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 8px;
    background: var(--blue-800);
    color: var(--gray-100);
    border: none;
    cursor: pointer;
    font-weight: bold;

    font-family: 'Inter', sans-serif;
    font-style: normal;
}