:root {
  --purple-600: #8284FA;

  --blue-600: #4EA8DE;
  
  --gray-400: #D9D9D9;
  --gray-500: #808080;
  --gray-600: #262626;
  --gray-700: #333333;
  --gray-800: #1A1A1A;
  --gray-900: #0D0D0D;

  --background: #454545;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 px(--gray-800);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-800);
  color: var(--gray-600);
  -webkit-font-smoothing: antialiased;
}

